<style>
  .app-body {
    background: url(/assets/img/avatars/desk.jpg) no-repeat;
    background-size: cover;
  }
  .main {
    background: #00000052;
  }
  .msg {
    color: red;
  }
  .msg-body {
    font-size: 1rem;
  }
</style>

<app-modal></app-modal>

<app-loader
  bsModal
  #loadModal="bs-modal"
  class="modal fade"
  id="loader"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loader"
  aria-hidden="true"
></app-loader>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card row">
            <div class="card-body">
              <h4 class="card-title">Création de compte</h4>

              <div class="form-card">
                <div class="form-card form-body">
                  <div class="tab-content" id="pills-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="pills-id"
                      role="tabpanel"
                      aria-labelledby="pills-id-tab"
                    >
                      <form
                        [formGroup]="registerGroup"
                        (ngSubmit)="register(registerGroup)"
                      >
                        <p class="text-muted">Créez votre compte</p>

                        <div class="input-group" style="display: block">
                          <div>
                            <select
                              class="form-control input-group selectpicker"
                              formControlName="typeCompte"
                              placeholder="Type de compte"
                            >
                              <option value="">
                                --Selectionnez un type de compte--
                              </option>
                              <option
                                *ngFor="let r of roles"
                                [value]="r.roleID"
                              >
                                {{ r.nomRole }}
                              </option>
                            </select>
                          </div>
                          <!-- <label>Adresse email</label> -->
                          <div
                            *ngIf="
                              registerGroup.controls.typeCompte.invalid &&
                              (registerGroup.controls.typeCompte.dirty ||
                                registerGroup.controls.typeCompte.touched)
                            "
                            class="mb-3 msg"
                          >
                            Veuillez choisir le type de compte
                          </div>
                        </div>

                        <div class="input-group mt-3">
                          <input
                            type="text"
                            formControlName="nomUtilisateur"
                            placeholder="Nom ou raison sociale"
                            autocomplete="username"
                            required
                          />
                          <label>Nom ou raison sociale</label>
                          <div
                            *ngIf="
                              registerGroup.controls.nomUtilisateur.invalid &&
                              (registerGroup.controls.nomUtilisateur.dirty ||
                                registerGroup.controls.nomUtilisateur.touched)
                            "
                            class="msg"
                            for="msg"
                          >
                            Veuillez renseigner ce champ
                          </div>
                        </div>

                        <div class="input-group mt-3">
                          <input
                            type="text"
                            ngModel
                            [email]="true"
                            placeholder="Email"
                            autocomplete="email"
                            formControlName="emailUtilisateur"
                            required
                          />
                          <label>Email</label>
                          <div
                            class="msg"
                            *ngIf="
                              registerGroup.controls.emailUtilisateur.invalid &&
                              (registerGroup.controls.emailUtilisateur.dirty ||
                                registerGroup.controls.emailUtilisateur.touched)
                            "
                          >
                            <div
                              *ngIf="
                                registerGroup.controls.emailUtilisateur.errors
                                  ?.required
                              "
                            >
                              Veuillez entrer une adresse email
                            </div>
                            <div
                              *ngIf="
                                registerGroup.controls.emailUtilisateur.errors
                                  ?.email
                              "
                            >
                              Veuillez entrer une adresse email valide
                            </div>
                          </div>
                        </div>

                        <div class="input-group mt-3">
                          <input
                            type="tel"
                            formControlName="telUtilisateur"
                            placeholder="Téléphone"
                            autocomplete="telUtilisateur"
                          />
                          <label>Téléphone</label>
                        </div>

                        <div class="row">
                          <div class="input-group mt-3 col-6">
                            <input
                              type="password"
                              formControlName="mdpUtilisateur"
                              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                              autocomplete="new-password"
                              required
                            />
                            <label>Mot de passe</label>
                            <div>
                              <div
                                *ngIf="
                                  registerGroup.controls.mdpUtilisateur
                                    .invalid &&
                                  (registerGroup.controls.mdpUtilisateur
                                    .dirty ||
                                    registerGroup.controls.mdpUtilisateur
                                      .touched)
                                "
                                class="msg"
                                for="msg"
                              >
                                Veuillez entrer un mot de passe
                              </div>
                              <div *ngIf="passNomatched" class="msg" for="msg">
                                Les mots de passe ne sont pas identiques
                              </div>
                            </div>
                          </div>

                          <div class="input-group mt-3 col-6">
                            <input
                              type="password"
                              formControlName="passconf"
                              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                              autocomplete="new-password"
                              required
                            />
                            <label style="font-size: 1.8vh"
                              >Confirmation de mot de passe</label
                            >
                            <div>
                              <div
                                *ngIf="
                                  registerGroup.controls.passconf.invalid &&
                                  (registerGroup.controls.passconf.dirty ||
                                    registerGroup.controls.passconf.touched)
                                "
                                class="msg"
                                for="msg"
                              >
                                Veuillez confirmer votre mot de passe
                              </div>
                              <div *ngIf="passNomatched" class="msg" for="msg">
                                Les mots de passe ne sont pas identiques
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- <div class="form-check input-group mb-3 mt-3"> -->
                        <div class="form-check input-group mb-3 mt-3">
                          <!-- class="form-check-label" -->
                          <input
                            style="
                              width: 21px;
                              top: -1.04em;
                              position: relative;
                              left: 0vh;
                            "
                            formControlName="condition"
                            type="checkbox"
                          />
                          <label>
                            <!-- class="form-check-input" -->

                            Veuillez accepter les
                            <a href="#">termes et conditions d'utilisation </a>
                          </label>
                        </div>

                        <div class="input-group">
                          <button
                            [disabled]="!registerGroup.valid"
                            type="submit"
                            class="btn btn-primary btn-block btn-lg"
                            id="success"
                          >
                            S'inscrire
                          </button>
                        </div>
                        <div class="input-group mb-3 p-4 align-right">
                          <label class="align-center">
                            Vous avez déjà un compte ?
                            <a href="" routerLink="/public/login">
                              Connectez-vous!</a
                            >
                          </label>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div
  bsModal
  #successModal="bs-modal"
  class="modal fade bd-example-modal-lg"
  id="success"
  tabindex="-1"
  role="dialog"
  data-backdrop="static"
  aria-labelledby="success"
  aria-hidden="true"
>
  <div class="modal-dialog modal-confirm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center bg-success" id="header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h6 id="suc-title">Enregistrement réussi</h6>
        <h5 id="suc-message">
          Votre inscription a été effectuée avec succès !
        </h5>
        <hr />
        <div class="row">
          <label class="msg-body">
            Pour accéder à votre compte, veuillez consulter votre boite e-mail
            et cliquer sur le lien que nous vous avons envoyé. Si vous ne
            trouvez pas l'e-mail, regarder dans vos spams. Merci !
          </label>
        </div>
        <!-- <button class="btn ">SE CONNECTER</button> -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary btn-lg" (click)="close()">
          Se connecter
        </button>
      </div>
    </div>
  </div>
</div>
