<div>
  <div class="list-group  list-group-flush" >
    <div
      class="w-100 ao-col m-2 card mb-5 list-group-item list-group-item-action bg-light"
      *ngFor="let ind of items;
        let i = index
      "
    >
      <div class="media ">
        <div class="media-left pr-5">
          <a href="#">
            <img height="200" class="media-object" [src]="getIcon(i)" />
          </a>
        </div>
        <div class="media-body">
          <div class="d-flex w-100 justify-content-between media-heading">
            <h5 class="mb-1">Intitulé de l'offre</h5>
            <!-- <small>3 days ago</small> -->
          </div>
          <!-- <h4 class=""></h4> -->
          <ul>
            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>
              Responsive behavior when clicking nav links perfect for a one page
              website
            </li>
            <li>
              Bootstrap's scrollspy feature which highlights which section of
              the page you're on in the navbar
            </li>
            <li>
              Minimal custom CSS so you are free to explore your own unique
              design options
            </li>
          </ul>
        </div>
       
      </div>
      <small class="align-right">Donec id elit non mi porta.</small>
    </div>
  </div>
  <!-- <div class="card-footer pb-0 pt-3">
    <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
</div> -->
</div>
