<app-edit-experience></app-edit-experience>
<div>
  <div class="row">
    <h3 class="mt-0 mb-4 col">Expériences</h3>
    <div class="col align-items-right">
      <button
        data-target="#experience"
        data-toggle="modal"
        class="btn btn-primary btn-sm"
      >
        Nouvelle expérience
      </button>
    </div>
  </div>
  <hr />
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Periode : </span>
    </div>
    <label class="form-control"><b>2008</b> à <b>2019</b></label>
  </div>
  <hr />

  <div class="card" *ngFor="let v of [0, 1, 2, 1, 2, 1, 2, 1, 2, 1]">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Année : Août 2018 - Septembre 2020
      </a>
      <label class="exp-title"
        ><a
          data-target="#experience"
          data-toggle="modal"
          href="#empty"
          class="fa fa-edit"
        ></a
      ></label>
    </div>
    <div id="collapseOne" class="collapse show">
      <div class="card-body" style="display: grid">
        <strong>Nom du projet ou de la mission:</strong>
        <label>Mise en ligne du cadastre national de Côte d’Ivoire</label>
        <strong>Activité :</strong>
        <ul>
          <li>Le recueil du besoin utilisateur</li>
          <li>Le recueil du besoin utilisateur</li>
          <li>Le recueil du besoin utilisateur</li>
        </ul>
        <label><strong>Lieu :</strong> Côte d'd’Ivoire</label>
        <label
          ><strong>Client :</strong>
          <a target="_blank" href="https://cadastrenational.dgi.gouv.ci"
            >DIRECTION DU CADASTRE</a
          >
        </label>
      </div>
    </div>
  </div>
</div>
