<app-reset-password></app-reset-password>
<app-modal></app-modal>

<div class="card">
  <div class="m-4 row">
    <div class="form-card form-body">
      <app-profil-nav></app-profil-nav>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-id"
          role="tabpanel"
          aria-labelledby="pills-id-tab"
        >
          <h3 class="mt-0 mb-4">Identité</h3>
          <form
            [formGroup]="inforPersoGroup"
            (ngSubmit)="saveInfo(inforPersoGroup)"
          >
            <div class="input-group">
              <input
                formControlName="nomUtilisateur"
                type="text"
                placeholder="Saisissez ici"
              />
              <label>Nom ou raison sociale</label>
            </div>

            <div class="input-group">
              <input
                type="button"
                value="adresse@domain.com"
                class="text-left"
                formControlName="emailUtilisateur"
                placeholder="adresse@domain.com"
              />
              <label>Adresse email</label>
            </div>
            <div class="input-group">
              <input
                type="button"
                value="Consultant"
                class="text-left"
                formControlName="role"
                placeholder="Ex : Invité"
              />
              <label>Type de compte</label>
            </div>

            <div class="input-group">
              <input formControlName="naissanceUtilisateur" type="date" />
              <label>Date de naissance</label>
            </div>

            <div class="input-group">
              <input
                type="tel"
                formControlName="telUtilisateur"
                maxlength="12"
                placeholder="00 000 000 000"
              />
              <label>Numéro de téléphone</label>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input
                  data-target="#passModal"
                  data-toggle="modal"
                  style="color: var(--primary)"
                  type="button"
                  role="modal"
                  value="Modifier mon mot de passe"
                  class="btn placeicon"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <input
                  style="color: white"
                  type="submit"
                  data-toggle="modal"
                  data-target="#loader"
                  value="Enregistrer les mises à jour"
                  class="btn btn-success placeicon"
                />
              </div>
            </div>
          </form>

          <!-- <app-identite-view></app-identite-view> -->
        </div>
        <div
          class="tab-pane fade"
          id="pills-experience"
          role="tabpanel"
          aria-labelledby="pills-experience-tab"
        >
          <app-experience-view></app-experience-view>
        </div>
        <div
          class="tab-pane fade"
          id="pills-abe"
          role="tabpanel"
          aria-labelledby="pills-abe-tab"
        >
          <app-abe-view></app-abe-view>
        </div>
        <div
          class="tab-pane fade"
          id="pills-formation"
          role="tabpanel"
          aria-labelledby="pills-formation-tab"
        >
          <app-formations-view></app-formations-view>
        </div>
        <div
          class="tab-pane fade"
          id="pills-infoComplementaire"
          role="tabpanel"
          aria-labelledby="pills-infoComplementaire-tab"
        >
          <app-infos-complementaires-view></app-infos-complementaires-view>
        </div>
      </div>
    </div>
    <div
      class="form-card col ml-2"
      style="border-left: solid 10px rgba(128, 128, 128, 0.096)"
    >
      <h3 class="mt-0 mb-4 text-center">Aperçu du CV</h3>
      <div class="container-fluid">
        <app-cv-view></app-cv-view>
      </div>
    </div>
  </div>
</div>

<!------ Include the above in your HEAD tag ---------->
