/*! CSS Used from: https://www.jwebi.com/css/main.css?v=2.2.0 ; media=screen */

@media screen {
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  header,
  nav {
    display: block;
  }
  a {
    outline: 0;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    border: 0;
  }
  a img {
    border: none;
  }
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
  #header .headerContent {
    margin-left: 162px;
    padding: 10px 0 2px;
  }
  #header .left-main-nav {
    float: left;
  }
  header {
    background-color: #fff;
  }
  header .container {
    padding: 2px 0;
  }
  header .LogoHeader {
    display: block;
    float: left;
  }
  header .LogoHeader img {
    display: block;
    width: auto;
    height: 72px;
  }
  header nav {
    margin-right: 20px;
    float: right;
  }
  header nav a {
    display: inline-block;
    font-size: 0.9rem;
    line-height: 20px;
    color: #4a4a4a;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 15px 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  header nav a:hover {
    border: 1px solid #bebebe;
  }
  header nav a#header-register {
    border: 1px solid #bebebe;
  }
  header .btnRentabilisez {
    float: right;
    width: 230px;
    background-color: #ffc800;
    padding: 7px 12px 7px 52px;
    color: #1a3350;
    font-size: 14px;
    border-radius: 5px;
    background-image: url("https://www.jwebi.com/img/Shape@2x.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 31px auto;
    cursor: pointer;
    margin: 0 0 0 5px;
  }
  header .btnRentabilisez:hover {
    border: 1px solid #e1b300;
  }
  .iconHamburger {
    display: none;
  }
}
/*! CSS Used from: https://www.jwebi.com/css/_form.css?v=2.2.0 ; media=screen */
@media screen {
  ::-webkit-input-placeholder {
    color: #bfbfbf;
  }
  :-moz-placeholder {
    color: #bfbfbf;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #bfbfbf;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #bfbfbf;
  }
  .yellowStyle {
    background-color: #ffca00;
    color: #0f233b;
    border: 1px solid #ffca00;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .yellowStyle:hover {
    background-color: #e1b300;
    color: #0f233b;
    border: 1px solid #e1b300;
  }
}
/*! CSS Used from: https://www.jwebi.com/css/responsive.css?v=2.2.0 ; media=screen */
@media screen {
  @media (max-width: 1200px) {
    #header .headerContent {
      padding: 10px 10px 2px 0;
    }
    #header .headerContent {
      margin-left: 147px;
    }
  }
  @media (max-width: 992px) {
    #header .headerContent {
      padding: 10px 0;
    }
  }
  @media (max-width: 768px) {
    a:active,
    a:focus {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -moz-tap-highlight-color: rgba(0, 0, 0, 0);
      tap-highlight-color: rgba(0, 0, 0, 0);
    }
    header .btnRentabilisez {
      max-width: 213px;
      position: absolute;
      float: none;
      bottom: 20px;
      background-color: #fff;
      border: 0;
      width: 100%;
      padding: 7px 0 7px 53px;
      margin: 0;
      background-image: url("https://www.jwebi.com/img/Shape3.png");
      color: #1a3350;
      background-size: 26px auto;
      background-position: 16px center;
    }
    header .btnRentabilisez span {
      display: none;
    }
    header .left-main-nav {
      float: none;
      margin-bottom: 0;
    }
    header nav {
      padding: 0 15px 15px;
      margin-right: 10px;
      margin: 0 0 30px;
      text-align: left;
      width: 100%;
    }
    header nav a {
      padding: 17px 7px;
      font-size: 12px;
      -ms-text-align-last: auto;
      text-align: left;
      padding: 8px 0 8px 40px;
      background-repeat: no-repeat;
      background-position: left center;
      margin: 0 0 10px;
      color: #1a3350;
    }
    header nav.mainNav a:hover {
      border: none;
    }
    header nav.mainNav a {
      border: none;
    }
    header nav a {
      display: block;
      margin: 0;
    }
    header .container {
      position: relative;
    }
    header .LogoHeader {
      width: 125px;
      height: 65px;
      margin: 0 0 0 10px;
    }
    #header .headerContent {
      position: absolute;
      top: 74px;
      margin: 0;
      background-color: #fff;
      width: 100%;
      border-bottom: 1px solid #000;
      display: none;
      margin: 0;
      z-index: 100;
    }
    .iconHamburger {
      background-image: url("https://www.jwebi.com/img/menu-hamburger.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 30px auto;
      width: 30px;
      height: 30px;
      display: block;
      float: right;
      padding: 20px;
      margin: 15px;
    }
  }
  @media (min-width: 769px) and (max-width: 1251px) {
    header nav a {
      font-size: 0.85rem;
    }
    #header-register {
      display: none;
    }
  }
  @media (min-width: 769px) and (max-width: 1160px) {
    .send-colis {
      display: none;
    }
  }
}
/*! CSS Used from: https://www.jwebi.com/bundles/frontend/css/custom.css?v=2.2.0 */
@media (max-width: 1320px) {
  #header .headerContent {
    margin-left: 150px;
  }
  #header .headerContent .ModeNoonConnecte {
    padding: 0 20px 0 0;
  }
}
@media (max-width: 1200px) {
  header .btnRentabilisez {
    width: 200px;
    padding: 7px 12px 7px 47px;
    font-size: 12px;
    background-position: 8px center;
  }
  header .LogoHeader {
    margin: 8px 0 0;
  }
  header .LogoHeader img {
    height: 60px;
  }
  #header .headerContent {
    margin-left: 120px;
  }
  #header .headerContent .ModeNoonConnecte {
    padding: 0;
  }
}
@media (max-width: 768px) {
  #header .headerContent {
    margin-left: 0;
  }
  header nav {
    margin: 0;
  }
}
@media (max-width: 1160px) and (min-width: 769px) {
  .send-colis {
    display: inline-block;
  }
}
@media (max-width: 1251px) and (min-width: 769px) {
  #header-register {
    display: inline-block;
  }
  header nav a {
    font-size: 0.65rem;
  }
}
