<div class="">
  <header id="header">
    <div class="container clearfix">
      <a href="/" class="LogoHeader">
        <img src="/img/LOGO@2x.png?v=2.2.0" alt="LOGO" />
      </a>
      <div class="headerContent clearfix">
        <div class="ModeNoonConnecte clearfix">
          <nav class="left-main-nav">
            <a href="#" class="send-colis">Publier une offre</a>
            <a href="#">Voir les offres</a>
          </nav>
          <!-- <a href="/fr/enregistrer-voyage">
                        <div class="btnRentabilisez yellowStyle">
                            <span>vous voyagez ?</span> Rentabilisez votre trajet !
                        </div>
                    </a> -->
          <nav class="mainNav">
            <a href="#/public/register" id="header-register">S'inscrire</a>
            <a href="#" id="header-login">Se connecter</a>
            <!-- <a href="/fr/comment-ca-marche">Comment ça marche ?</a> -->
          </nav>
        </div>
      </div>
      <a href="#" class="iconHamburger"></a>
    </div>
    <!--.container-->
  </header>
</div>
