



<app-master-page></app-master-page>
<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row" *ngIf="showMessage">
          <div class="align-self-center">
             <img class="mail-box" src="/assets/img/email.png" />
          </div>
          <div class="align-self-center">
            <h1 class="text-error">{{title}}</h1>
            <h2>{{message}}</h2>
            <!-- <p>Il semble que le lien n'est plus valide.
            </p> -->
            <button routerLink="" class="btn btn-outline-primary">Se connecter</button>
          </div>
        </div>
      </div>
    </main>
  </div>