@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: "Nunito Sans"; */
  font-size: 1em;
}
.mail-box {
  width: 15rem;
  padding-right: 2rem;
}
.main {
  padding: 10%;
}
/* button {
  font-family: "Nunito Sans";
} */

ul {
  list-style-type: none;
  padding-inline-start: 35px;
}

svg {
  width: 100%;
  visibility: hidden;
}

h1 {
  font-size: 3.5em;
  margin: 15px 0px;
  font-weight: bold;
}

.btn.green:hover:before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }

  .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

