<app-reset-password></app-reset-password>
<app-modal></app-modal>

<div>
  <h3 class="mt-0 mb-4">Identité</h3>
  <form [formGroup]="inforPersoGroup" (ngSubmit)="saveInfo(inforPersoGroup)">
    <div class="input-group">
      <input formControlName="nom" type="text" placeholder="Saisissez ici" />
      <label>Nom ou raison sociale</label>
    </div>

    <div class="input-group">
      <input
        type="button"
        value="adresse@domain.com"
        class="text-left"
        placeholder="adresse@domain.com"
      />
      <label>Adresse email</label>
    </div>

    <div class="row">
      <div class="col-md-12">
        <input
          data-target="#passModal"
          data-toggle="modal"
          style="color: var(--primary)"
          type="button"
          role="modal"
          value="Modifier mon mot de passe"
          class="btn placeicon"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <input
          style="color: white"
          type="submit"
          data-toggle="modal"
          data-target="#loader"
          value="Enregistrer les mises à jour"
          class="btn btn-success placeicon"
        />
      </div>
    </div>
  </form>
</div>

