<!-- <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" id="err-title">{{title}}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="err-message" class="modal-body">{{message}}</div>
     
    </div>
  </div>
   -->

    <div class="modal-dialog modal-confirm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header justify-content-center bg-danger" id="header">
          <div class="icon-box">
            <!-- <i class="material-icons">&#xE876;</i> -->
            <i class="material-icons">&#xe5cd;</i>
          </div>
        </div>
        <div class="modal-body text-center">
          <h6 id="err-title">{{ title }}</h6>
          <h5 id="err-message">{{ message }}</h5>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal" >Fermer</button>
        </div>
      </div>
    </div>