

<div class="card bg-light pt-5">
    <div class="form-card col">
      <div>
        <div class="card">
          <div class="card-header">
            <a
              class="collapsed card-link"
              data-toggle="collapse"
              href="#collapseFour"
            >
              Identification
            </a>
          </div>
          <div id="collapseFour" class="collapse show">
            <div class="card-body collapse show">
              <div style="display: flex; align-items: center" class="row">
                <div style="width: 50%;">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-user-circle-o"></i
                      ></span>
                    </div>
                    <label id="nom" class="form-control info-perso"
                      >{{userInfo.nomUtilisateur}}</label
                    >
                  </div>
  
                  <div class="input-group mt-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <label id="email" class="form-control info-perso"
                      >{{userInfo.emailUtilisateur}}</label
                    >
                  </div>
                  <div class="input-group mt-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-phone"> </i>
                      </span>
                    </div>
                    <label id="contact" class="form-control info-perso"
                      >{{userInfo.telUtilisateur}}</label
                    >
                  </div>
                  <div class="input-group mt-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"> </i>
                      </span>
                    </div>
                    <label id="datenaissance" class="form-control info-perso"
                      >Né le {{userInfo.naissanceUtilisateur | date:'dd/MM/yyyy'}}</label
                    >
                  </div>
                </div>
  
                <div class="text-right" style="width: 50%;">
                  <div class="rounded">
                    <img
                      style="border: solid 1px #949b94; width: 35%;"
                      class="rounded-circle"
                      src="/assets/img/avatars/9.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              Expériences
            </a>
          </div>
          <div id="collapseOne" class="collapse show">
            <div class="card-body"></div>
          </div>
        </div>
  
        <div class="card">
          <div class="card-header">
            <a
              class="collapsed card-link"
              data-toggle="collapse"
              href="#collapseTwo"
            >
              Aptitude de bonne exécution
            </a>
          </div>
          <div id="collapseTwo" class="collapse show">
            <div class="card-body">Lorem ipsum..</div>
          </div>
        </div>
  
        <div class="card">
          <div class="card-header">
            <a
              class="collapsed card-link"
              data-toggle="collapse"
              href="#collapseThree"
            >
              Formations
            </a>
          </div>
          <div id="collapseThree" class="collapse show">
            <div class="card-body">Lorem ipsum..</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  