<app-error
  class="modal fade"
  id="submitError"
  tabindex="-1"
  role="dialog"
  aria-labelledby="submitError"
  aria-hidden="true"
></app-error>

<app-success
  class="modal fade"
  id="subSuccess"
  tabindex="-1"
  role="dialog"
  aria-labelledby="subSuccess"
  aria-hidden="true"
></app-success>

<!-- <div
 
>
 
</div> -->

<app-loader
  bsModal
  #loadModal="bs-modal"
  class="modal fade"
  id="loader"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loader"
  aria-hidden="true"
></app-loader>

<!--Bouton d'affichage des popup-->
<div style="display: none">
  <button
    type="submit"
    class="btn btn-block btn-success"
    data-toggle="modal"
    data-target="#subSuccess"
    id="btnSubSuccess"
  ></button>

  <button
    type="submit"
    data-toggle="modal"
    data-target="#submitError"
    id="btnSubmitError"
  ></button>
</div>
