<div class="d-flex" id="wrapper">
  <div
    style="position: relative; top: 100px"
    class="bg-light border-right p-2"
    id="sidebar-wrapper"
  >
    <div class="card pl-2 mt-2 pt-2 pr-2" style="width: 320px">
      <form>
        <div class="form-group">
          <label for="formControlRange">Secteur(s) d'activité</label>
          <ng-select
            [items]="fields"
            bindLabel="name"
            bindValue="id"
            [multiple]="true"
            placeholder="---Secteur(s) d'activité---"
          >
          </ng-select>
        </div>
      </form>
    </div>

    <div class="card pl-2 mt-2 pt-2 pr-2" style="width: 320px">
      <form>
        <div class="form-group">
          <label for="formControlRange">Niveau(x) d'étude</label>
          <ng-select
            [items]="grades"
            bindLabel="name"
            bindValue="id"
            [multiple]="true"
            placeholder="---Niveau(x) d'étude---"
          >
          </ng-select>
        </div>
      </form>
    </div>

    <div class="card pl-2 mt-2 pt-2 pr-2">
      <form>
        <div class="form-group">
          <label for="formControlRange">Année d'expérience</label>
          <ng5-slider
            [(value)]="minValue"
            [(highValue)]="maxValue"
            [options]="options"
          ></ng5-slider>

          <!-- <input
            max="50"
            min="1"
            type="range"
            class="form-control-range multi-range"
            id="formControlRange"
          /> -->
        </div>
      </form>
    </div>

    <div class="card pl-2 mt-2 pt-2 pr-2" style="width: 320px">
      <form>
        <div class="form-group">
          <label for="formControlRange">Date de publication</label>
          <ng-select
            [items]="datesPub"
            bindLabel="name"
            bindValue="id"
            [multiple]="true"
            placeholder="---Date de publication----"
          >
          </ng-select>
        </div>
      </form>
    </div>

    <div class="card pl-2 mt-2 pt-2 pr-2" style="width: 320px">
      <form>
        <div class="form-group">
          <label for="formControlRange">Localisation</label>
          <ng-select
            [items]="places"
            bindLabel="name"
            bindValue="id"
            [multiple]="true"
            placeholder="---Localisation----"
          >
          </ng-select>
        </div>
      </form>
    </div>
  </div>
  <div id="page-content-wrapper" style="margin: 7% 2%">
    <app-list-offre></app-list-offre>
  </div>
  <div
    style="position: relative; top: 100px"
    class="bg-light border-right align-right  p-2"
    id="sidebar-wrapper"
  >
    <div class="card pl-2 mt-2 pt-2 pr-2" style="width: 320px">
      <ul class="list-group bg-light">
        <li class="list-group-item d-flex justify-content-between align-items-center btn" *ngFor="let i of [1,2,3,4,5,6,7,8,9,1,0,1,4,2,4];">Secteur d'activité {{i}} 

          <span class="badge align-right badge-pill">({{i}})</span>
        </li>
      </ul>
    </div>
  </div>
</div>
