<!-- <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header bg-success">
      <h5 class="modal-title" id="suc-title">{{title}}</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="suc-message" class="modal-body">{{message}}</div>
  </div>
</div> -->


<div class="modal-dialog modal-confirm modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header justify-content-center bg-success" id="header">
      <div class="icon-box">
        <i class="material-icons">&#xE876;</i>
        <!-- <i class="material-icons">&#xe5cd;</i> -->
      </div>
    </div>
    <div class="modal-body text-center">
      <h6 id="suc-title">{{ title }}</h6>
      <h5 id="suc-message">{{ message }}</h5>
      <!-- <button class="btn btn-success">
        <span>{{ btn_desc }}</span>
        <i class="material-icons">&#xE5C8;</i>
      </button> -->
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" data-dismiss="modal" >Fermer</button>
    </div>
  </div>
</div>