<div class="modal fade" id="experience" style="z-index: 104110">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edition d'expériences</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-card">
          <form>
            <div class="row">
              <div class="input-group col">
                <input type="date" placeholder="Saisissez ici" />
                <label>Année (Debut)</label>
              </div>
              <div class="input-group col">
                <input type="date" placeholder="Saisissez ici" />
                <label>Année (Fin)</label>
              </div>
            </div>
            
            <div class="input-group">
              <input type="text" placeholder="Saisissez ici" />
              <label>Nom du projet ou de la mission</label>
            </div>
          

            <div class="input-group">
              <input type="text" placeholder="Saisissez ici" />
              <label>Lieu</label>
            </div>

            <div class="input-group">
              <input type="text" placeholder="Saisissez ici" />
              <label>Client</label>
            </div>

            <!-- <div class="input-group">
                <input type="text" placeholder="Saisissez ici" />
                <label>Lieu</label>
              </div> -->
          </form>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Changer
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
