

<app-master-page></app-master-page>
<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="card row">
              <div class="card-body">
                <h4 class="card-title">Nouveau de mot de passe</h4>
                <div class="form-card">
                  <div class="form-card form-body">
                    <div class="tab-content" id="pills-tabContent">
                      <div
                        class="tab-pane fade show active"
                        id="pills-id"
                        role="tabpanel"
                        aria-labelledby="pills-id-tab"
                      >
                        <!-- <h3 class="mt-0 mb-4">Identité</h3> -->
                        <form
                          [formGroup]="inforPersoGroup"
                          (ngSubmit)="saveInfo(inforPersoGroup)"
                        >
                          <div class="input-group">
                            <input
                              type="password"
                              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                            />
                            <label>Nouveau mot de passe</label>
                          </div>
                          <div class="input-group">
                            <input
                              type="password"
                              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                            />
                            <label>Confirmer le mot de passe</label>
                          </div>
                          <button class="btn btn-outline-primary">Modifier mon mot de passe</button>               
                        </form>
          
                        <!-- <app-identite-view></app-identite-view> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>
  </div>