.app-body {
  background: url(/assets/img/avatars/desk2.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
/* .main {
  background: #00000052;
}
.card {
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* margin-top: 18vh; */
/*} */
