<app-modal></app-modal>

<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card row">
            <div class="card-body">
              <h4 class="card-title">Authentification</h4>

              <div class="form-card">
                <div class="form-card form-body">
                  <div class="tab-content" id="pills-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="pills-id"
                      role="tabpanel"
                      aria-labelledby="pills-id-tab"
                    >
                      <form
                        [formGroup]="loginGroup"
                        (ngSubmit)="login(loginGroup)"
                      >
                        <p class="text-muted">Connectez-vous à votre compte</p>
                        <div class="input-group">
                          <input
                            type="text"
                            ngModel
                            [email]="true"
                            placeholder="Email"
                            autocomplete="email"
                            formControlName="emailUtilisateur"
                            required
                          />
                          <label>Adresse email</label>
                          <div
                            class="msg"
                            *ngIf="
                              loginGroup.controls.emailUtilisateur.invalid &&
                              (loginGroup.controls.emailUtilisateur.dirty ||
                                loginGroup.controls.emailUtilisateur.touched)
                            "
                          >
                            <div
                              *ngIf="
                                loginGroup.controls.emailUtilisateur.errors
                                  ?.required
                              "
                            >
                              Veuillez entrer une adresse email
                            </div>
                            <div
                              *ngIf="
                                loginGroup.controls.emailUtilisateur.errors
                                  ?.email
                              "
                            >
                              Veuillez entrer une adresse email valide
                            </div>
                          </div>
                        </div>

                        <div class="input-group">
                          <input
                            type="password"
                            placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                            autocomplete="current-password"
                            formControlName="mdpUtilisateur"
                            required
                          />
                          <label>Mot de passe</label>
                          <div
                            *ngIf="
                              loginGroup.controls.mdpUtilisateur.invalid &&
                              (loginGroup.controls.mdpUtilisateur.dirty ||
                                loginGroup.controls.mdpUtilisateur.touched)
                            "
                            class="msg"
                          >
                            Veuillez entrer votre mot de passe
                          </div>
                        </div>

                        <div class="row mt-3">
                          <div class="col-6">
                            <button
                              [disabled]="!loginGroup.valid"
                              type="submit"
                              class="btn btn-outline-primary px-4"
                            >
                              Se connecter
                            </button>
                          </div>
                          <div class="col-6 text-right">
                            <button
                              routerLink="/public/forgot-password"
                              type="button"
                              class="btn btn-link px-0"
                            >
                              Mot de passe oublié?
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>

        <div class="card text-white bg-primary py-5 collapse show w-50">
          <div class="card-body text-center">
            <div>
              <h1>TCHEIVA</h1>
              <label>Votre plateforme de gestion d'appel d'offre</label>
              <!-- <h5>Inscription</h5> -->
              <p style="width: 50%; margin: 0 auto">
                Vous n'avez pas de compte? Inscrivez-vous maintenant pour
                profiter des services
              </p>
              <button
                (click)="gotoRegister($event)"
                type="button"
                class="btn btn-primary active mt-3"
              >
                S'inscrire maintenant
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<app-loader
  bsModal
  #loadModal="bs-modal"
  class="modal fade"
  id="loader"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loader"
  aria-hidden="true"
></app-loader>
