.app-body {
    background: url(/assets/img/avatars/desk2.jpg) no-repeat;
    background-size: cover;
  }
  .main {
    background: #00000061;
  }
  .msg {
    color: red;
    margin-top: 0px !important;
    margin-bottom: 10px;
  }
  .input-group {
    margin-bottom: 10px !important;
  }
  .input-group input{
      margin-bottom: 0px;
  }