// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
// If you are going to use dark layout please comment next line
@import "~@coreui/coreui-pro/scss/coreui";

// Import styles with dark layout
// If you want to use dark layout uncomment next line
//@import "~@coreui/coreui-pro/scss/themes/dark/coreui-dark";

// If you want to add something do it here
@import "custom";

// Spinkit
$spinkit-spinner-color: $body-color;
@import "~spinkit/scss/spinkit.scss";

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.container-fluid {
  padding: 0px;
}

body {
  background-color: #f4f5f7;
}
.card.bg-light .card-header {
  background-color: #061f4a;
  border-color:#061f4a;
  a {
    color: white;
  }
}
.primary {
  color: #611a1aa1;
}
