<style>
  .app-body {
    background: url(/assets/img/avatars/desk2.jpg) no-repeat;
    background-size: cover;
  }
  .main {
    background: #00000061;
  }
  .msg {
    color: red;
  }
</style>

<app-modal></app-modal>
<app-loader
  bsModal
  #loadModal="bs-modal"
  class="modal fade"
  id="loader"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loader"
  aria-hidden="true"
></app-loader>
<!-- <app-master-page></app-master-page> -->
<!-- <div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="passGroup" (ngSubmit)="reset(passGroup)">
                  <h1>Réinitialisation de mot de passe</h1>
                  <p class="text-muted">
                    Entrez votre adresse email pour la réinitialisation de votre
                    mot de passe
                  </p>

                  <div class="input-group">
                    <input
                      autocomplete="emailUtilisateur"
                      formControlName="emailUtilisateur"
                      required="required"
                      type="email"
                      placeholder="adresse@domain.com"
                    />
                    <label>Email</label>
                  </div>

                  <div class="row mt-3">
                    <div class="col-6">
                      <button
                        type="button"
                        [disabled]="!passGroup.valid"
                        type="submit"
                        class="btn btn-outline-primary px-4"
                      >
                        Réinitialiser
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div> -->
<app-master-page></app-master-page>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="card row">
        <div class="card-body">
          <h4 class="card-title">Réinitialisation de mot de passe</h4>

          <div class="form-card">
            <div class="form-card form-body">
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-id"
                  role="tabpanel"
                  aria-labelledby="pills-id-tab"
                >
                  <form [formGroup]="passGroup" (ngSubmit)="reset(passGroup)">
                    <p class="text-muted">
                      Entrez votre adresse email pour la réinitialisation de
                      votre mot de passe
                    </p>
                    <div class="input-group">
                      <input
                        autocomplete="emailUtilisateur"
                        formControlName="emailUtilisateur"
                        required="required"
                        type="email"
                        placeholder="adresse@domain.com"
                      />
                      <label>Email</label>
                    </div>
                    <label
                      *ngIf="
                        passGroup.controls.emailUtilisateur.invalid &&
                        (passGroup.controls.emailUtilisateur.dirty ||
                          passGroup.controls.emailUtilisateur.touched)
                      "
                      class="msg"
                      for="msg"
                      >Veuillez entrer une adresse email valide</label
                    >
                    <div class="row mt-3">
                      <div class="col-6">
                        <button
                          type="button"
                          [disabled]="!passGroup.valid"
                          type="submit"
                          class="btn btn-outline-primary px-4"
                        >
                          Réinitialiser
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
