* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: #000000;
}

nav {
  border-bottom: solid 1px var(--primary);
  margin-bottom: 10px;
}
.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 70%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

span.round-tab {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i {
  color: #555555;
}
.wizard a.active span.round-tab {
  background: #fff;
  border: 2px solid var(--primary);
}
.wizard a.active span.round-tab i {
  color: var(--primary);
}
span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}
.wizard .nav-pills > li {
  width: 20%;
}

.nav-pills > li + li {
  margin-left: 0px;
}
.wizard a.active:after {
  content: " ";
  position: absolute;
  left: 35%;
  opacity: 1;
  margin: 0 auto;
  bottom: -15px;
  border: 10px solid transparent;
  border-bottom-color: var(--primary);
}
.wizard .nav-pills > li a {
  width: 50px;
  height: 50px;
  margin: 15px auto;
  border-radius: 100%;
  padding: 0;
}
.wizard .nav-pills > li a:hover {
  background: transparent;
}
