<div class="wizard">
  <div class="wizard-inner">
    <div class="connecting-line"></div>
    <nav>
      <ul class="nav nav-pills" id="nav-pill" role="tablist">
        <li class="nav-item">
          <a
            href="#pills-id"
            id="pills-id-tab"
            aria-controls="pills-id"
            role="tab"
            class="nav-link active"
            data-toggle="pill"
            aria-selected="true"
            title="Identités"
          >
            <span class="round-tab">
              <i class="fa fa-user"></i>
            </span>
          </a>
        </li>

        <li class="nav-item">
          <a
            href="#pills-experience"
            id="pills-experience-tab"
            aria-controls="pills-experience"
            class="nav-link"
            data-toggle="pill"
            role="tab"
            aria-selected="false"
            title="Expériences"
          >
            <span class="round-tab">
              <i class="fa fa-book"></i>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#pills-abe"
            id="pills-abe-tab"
            aria-controls="pills-abe"
            class="nav-link"
            data-toggle="pill"
            role="tab"
            aria-selected="false"
            title="Aptitude de bonne éxécution"
          >
            <span class="round-tab">
              <i class="fa fa-puzzle-piece"></i>
            </span>
          </a>
        </li>

        <li class="nav-item">
          <a
            href="#pills-formation"
            id="pills-formation-tab"
            aria-controls="pills-formation"
            data-toggle="pill"
            role="tab"
            title="Formations"
            aria-selected="false"
            class="nav-link"
          >
            <span class="round-tab">
              <i class="fa fa-graduation-cap"></i>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#pills-infoComplementaire"
            id="pills-infoComplementaire-tab"
            aria-controls="pills-infoComplementaire"
            data-toggle="pill"
            role="tab"
            title="Informations Complementaires"
            aria-selected="false"
            class="nav-link"
          >
            <span class="round-tab">
              <i class="fa fa-info"></i>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
