.loader16{width:50px;height:50px;margin:30px auto 40px;position:relative}
.loader16:after,.loader16:before{content:"";width:50px;position:absolute;left:0}
.loader16:before{height:5px;border-radius:50%;background:#000;opacity:.1;top:59px;animation:shadow .5s linear infinite}
.loader16:after{height:50px;border-radius:3px;background:#ffffff;top:0;animation:loading .5s linear infinite}
@-webkit-keyframes loading{
	17%{border-bottom-right-radius:3px}
	25%{transform:translateY(9px) rotate(22.5deg)}
	50%{transform:translateY(18px) scale(1,.9) rotate(45deg);border-bottom-right-radius:40px}
	75%{transform:translateY(9px) rotate(67.5deg)}
	100%{transform:translateY(0) rotate(90deg)}
}
@keyframes loading{
	17%{border-bottom-right-radius:3px}
	25%{transform:translateY(9px) rotate(22.5deg)}
	50%{transform:translateY(18px) scale(1,.9) rotate(45deg);border-bottom-right-radius:40px}
	75%{transform:translateY(9px) rotate(67.5deg)}
	100%{transform:translateY(0) rotate(90deg)}
}
@-webkit-keyframes shadow{
	0%,100%{transform:scale(1,1)}
	50%{transform:scale(1.2,1)}
}
@keyframes shadow{
	0%,100%{transform:scale(1,1)}
	50%{transform:scale(1.2,1)}
}