<div class="modal-dialog modal-dialog-centered" role="document">
  <div
    class="modal-content"
    style="background-color: transparent; border: none"
  >
    <div class="modal-body">
      <div class="container">
        <br /><br />
        <div class="row">
          <div class="col-md-12">
            <div class="loader16"></div>
          </div>
        </div>
        <br /><br />
      </div>
      <div class="modal-footer" style="display: none">
        <button
          type="button"
          id="btn-dismiss"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
